<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Módulo Principal</title>
  </head>
  <body>
    <h1>Módulo Principal</h1>    
    <li><a href="{% url 'home' %}">Home</a></li>    
    <li><a href="{% url 'home_aluno' %}">Módulo Aluno</a></li>    
    <li><a href="{% url 'home_professor' %}">Módulo Professor</a></li>
    <li><a href="{% url 'home_curso' %}">Módulo Curso</a></li>
  </body>
</html>